<div class="container chatroom">

 <h1>Chat with participants of <%= @event.name %></h1>

 <div class="messages">
  <%if @messages %>
      <% @messages.each do |message| %>
        <div id="message-<%= message.id %>">
          <small>
            <strong><%= message.user.username %></strong>
            <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
          </small>
          <p><%= message.content %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= simple_form_for [@event, @message],
  html: {class: "d-flex"} do |f|
%>
  <%= f.input :content,
    label: false,
    placeholder: "Message ##{@event.name}",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>
