<div class="karma-cointer">

  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-inputs">

      <%= f.input :email,
                  required: true,
                  input_html: { autocomplete: "email" }%>

      <%= f.input :username,
                  required: true,
                  autofocus: true %>

      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>

      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>

      <%= f.input :bio %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
<div class="footer-links" style="display: flex; align-items: center; justify-content: space-evenly; width: 100%; height: 50px;">
  <a href="https://www.github.com/"><i class="fab fa-github"></i></a>
  <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
  <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
  <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
  <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
</div>
