<!-- _game.html.erb 🖤-->
  <div class="karma-container">
    <div class="card-container-grid", data-controller="favorites">
      <% games.each do |game| %>
        <%= link_to game_path(game) do %>
        <div data-controller="favorites" data-favorites-game-value="<%= game.id %>" class="card-games" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.103), rgba(0,0,0,0.8)), url('<%= game.image_url.presence || "https://c.clc2l.com/t/m/o/monopoly-cgwI69.png" %>')">
         <div class="w-100 d-flex justify-content-end" data-favorites-target="card">
          <% if current_user.games.include?(game) %>
            <%= button_to "🧡", favorite_path(game), method: :delete, data: { action: "click->favorites#remove" }, notice: "Favorite removed" %>
          <% else %>
            <%= button_to "🖤", favorite_path(game), method: :post, data: { action: "click->favorites#add" } %>
          <% end %>
        </div>
          <h2> <%= game.name %></h2>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>
