<div class="card-container-grid">
  <%# <% return if events == nil %>
    <% events.each do |event| %>
      <%= link_to event_path(event), class: "card-event-link-2" do %>
        <div class="card-event-2" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.103), rgba(0,0,0,0.8)), url('<%= event.game.image_url.presence || "https://c.clc2l.com/t/m/o/monopoly-cgwI69.png" %>')">
          <div class="w-100 d-flex justify-content-end">
          <p class="place-restante-2"> Places :<%= remaining_spots(event) %> </p>
          </div>
          <div>
            <h2  class="card-event-games-2-h2 "><%= event.name %></h2>
            <p><%= event.date.strftime("%d %b") %></p>
          </div>
        </div>
      <% end %>
    <% end  %>
</div>
