<footer class="footer">
  <div class="current-page-indicator"></div>
  <nav class="footer-nav">
    <div class="footer-icon">
      <%= link_to "/games" do %>
        <%= image_tag('icone-favori.png') %>
      <% end %>
    </div>
    <div class="footer-icon">
      <%= link_to "/events" do %>
        <%= image_tag('icone-maps.png') %>
      <% end %>
    </div>
    <div class="footer-icon">
      <%= link_to "/events" do %>
        <%= image_tag('icone-home.png') %>
      <% end %>
    </div>
    <div class="footer-icon">
      <%= link_to "" do %> <%# dashboard a coder %>
        <%= image_tag('icone-evenement.png') %>
      <% end %>
    </div>
    <div class="footer-icon">
      <%= link_to "/events/new" do %>
        <%= image_tag('icone-plus.png') %>
      <% end %>
    </div>
  </nav>
</footer>
