<footer class="footer">
  <div class="current-page-indicator"></div>
  <nav class="footer-nav">
    <div class="footer-icon">
      <%= link_to "page1_path" do %>
        <%= image_tag('icone-favori.png') %>
      <% end %>
    </div>
    <div class="footer-icon">
      <%= link_to "page2_path" do %>
        <%= image_tag('icone-maps.png') %>
      <% end %>
    </div>
    <div class="footer-icon">
      <%= link_to "page3_path" do %>
        <%= image_tag('icone-home.png') %>
      <% end %>
    </div>
    <div class="footer-icon">
      <%= link_to "page4_path" do %>
        <%= image_tag('icone-evenement.png') %>
      <% end %>
    </div>
    <div class="footer-icon">
      <%= link_to "page5_path" do %>
        <%= image_tag('icone-plus.png') %>
      <% end %>
    </div>
  </nav>
</footer>
