<% unless action_name == "home" || action_name == "sign_in" %>
    <footer class="footer">
      <nav class="footer-nav">
        <div class="footer-icon <%= "current-page-indicator" if action_name == "index" && controller_name == "games" %>"">
          <%= link_to "/games" do %>
            <%= image_tag('icone-etoile.png') %>
          <% end %>
      </div>
        <div class="footer-icon <%= "current-page-indicator" if action_name == "index" && controller_name == "pages" %>">
          <%= link_to "/map_path" do %>
            <%= image_tag('icone-maps.png') %>
          <% end %>
        </div>
        <div class="footer-icon <%= "current-page-indicator" if action_name == "index" && controller_name == "pages" %>">
          <%= link_to "/home" do %>
            <%= image_tag('icone-home.png') %>
          <% end %>
        </div>
        <div class="footer-icon <%= "current-page-indicator" if action_name == "my_events" %>">
          <%= link_to "/my_events" do %>
            <%= image_tag('icone-evenement.png') %>
          <% end %>
        </div>
        <div class="footer-icon <%= "current-page-indicator" if action_name == "new" && controller_name == "events" %>">
          <%= link_to "/events/new" do %>
            <%= image_tag('icone-plus.png') %>
          <% end %>
        </div>
      </nav>
    </footer>
<% end %>
