<% unless action_name == "home" %>
<div class="offset-top">
  <nav class="navbar-complete row mx-0" >
    <div class="col-3">
        <%= link_to request.referrer, class: "left-button-nav" do %>
        <%= image_tag('arrow.png') %>
        <% end %>
    </div>
    <div class="col-6">
      <div class="logo" style="background-image: url(<%= asset_path('logo-navbar.svg') %>) !important;"></div>
    </div>

    <div class="col-3">
      <% unless action_name == "profil" %>
      <div class="nav-item dropdown"></div>
        <% if current_user %>
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, crop: :fill_pad, class: "avatar rounded-circle dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= button_to "Dashboard", dashboard_path, method: :get, class: "dropdown-item" %>
              <a class="dropdown-item" href="#">Profile</a>
              <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
          <% else %>
            <img class="avatar rounded-circle dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://cdn-icons-png.flaticon.com/512/1178/1178882.png" />
            <div class="dropdown-menu dropdown-menu-end" style="background-color: white" aria-labelledby="navbarDropdown">
              <%= button_to "Dashboard", dashboard_path, method: :get, class: "dropdown-item", style:"color: #9E13F9; font-weight: bolder; font-size: larger" %>
              <%= button_to "Profile", edit_user_registration_path, method: :get, class: "dropdown-item", style:"color: #F72585; font-weight: bolder; font-size: larger"%>
              <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item", style:"font-weight: bolder; font-size: larger"%>
            </div>
          <% end %>
        <% else %>
          <%= image_tag("https://cdn-icons-png.flaticon.com/512/1178/1178882.png", class: "right-avatar-nav rounded-circle") %>
        <% end %>
      <% end %>
    </div>
  </nav>
  <% end %>
</div>



<%# pour l'avatar tu vas le gérer depuis la view avec style="background image: currentuser :img" %>
