<div class="row justify-content-center">
  <div>

    <%= form_with url: events_path, method: :get, class: "row" do %>
    <%# search-bar pour chercher les string event.name ET game.name%>
      <div class="col-12 row position-relative">
        <%= text_field_tag :query,
              params[:query],
              class: "form-control col-12",
              placeholder: "Type an event name and/or game name"
        %>
      <div class="col-8">
        <%# search-bar pour filtrer sur la date => à transfo en bouton de filtre %>
        <%= text_field_tag :date, params[:date],
                          data: { controller: 'flatpicker-range' },
                           class: 'form-control' %>
      </div>
          <%= submit_tag "Search", name: "", class: "btn btn-primary top-0 end-0 position-absolute", style: "width: fit-content" %>
      </div>

      <div class="col-4">
        <%= link_to "Casual", events_path(event_type: "Casual"), class: "badge text-bg-secondary" %>
        <%= link_to "Tournament", events_path(event_type: "Tournament"), class: "badge text-bg-secondary" %>
      </div>

    <% end %>

  </div>
</div>
