<div class="container justify-content-center">
<div class="row justify-content-center">

  <% if action_name == "map" %>
    <%= form_with url: map_path, method: :get, class: "row" do %>
      <%# search-bar pour chercher les string event.name ET game.name%>
      <div class="col-12 mx-0 row position-relative justify-content-between">
        <div class="col-10 row position-relative">
          <%= text_field_tag :query,
                params[:query],
                class: "form-control col-10 search-bar",
                placeholder: "Type an event/game"
          %>
          <%= submit_tag "Search", name: "", class: "karma-button-rose top-0 end-0 position-absolute", style: "width: fit-content; height: 45px" %>
        </div>

        <div class="col-2">
          <%# search-bar pour filtrer sur la date => à transfo en bouton de filtre %>
          <%= text_field_tag :date, params[:date],
                                data: { controller: 'flatpicker-range' },
                                class: 'form-control calendar-icone',
                                style: 'background-color: transparent; border: none; padding: 23px; '
                                %>
        </div>
      </div>
      <div class="d-flex justify-content-evenly align-items-center">
        <div class="flex-fill">
          <%= link_to "Casual", map_path(event_type: "Casual"), class: "karma-button-violet top-0 end-0 p-1 #{"active" if params[:event_type] == "Casual"}" %>
        </div>

        <div class=" flex-fill">
          <%= link_to "Tournament", map_path(event_type: "Tournament"), class: "karma-button-rose top-0 end-0 p-1 #{"active" if params[:event_type] == "Tournament"}" %>
        </div>

        <div class="flex-fill">
          <%= link_to "My events", map_path(my_events: true), class: "karma-button-rose top-0 end-0 p-1" %>
        </div>

        <div class="flex-fill">
          <%= link_to "x", map_path(), class: "btn top-0 end-0 p-1", style:"color: white" %>
        </div>

      </div>
    <% end %>

  <% elsif controller_name == "games"%>
    <%= form_with url: games_path, method: :get, class: "row" do %>
    <%# search-bar pour chercher les string event.name ET game.name%>
      <div class="col-12 mx-0 row position-relative" style="justify-content: space-between">
        <div class="col-10 row position-relative">
        <%= text_field_tag :query,
              params[:query],
              class: "form-control col-10 search-bar",
              placeholder: "Type an event/game"
        %>
        <%= submit_tag "Search", name: "", class: "karma-button-rose top-0 end-0 position-absolute", style: "width: fit-content; height: 45px" %>
      </div>
    <% end %>

  <% else %>
    <%= form_with url: events_path, method: :get, class: "row" do %>
    <%# search-bar pour chercher les string event.name ET game.name%>
      <div class="col-12 mx-0 row position-relative" style="justify-content: space-between">
        <div class="col-10 row position-relative">
        <%= text_field_tag :query,
              params[:query],
              class: "form-control col-10 search-bar",
              placeholder: "Type an event name and/or game name"
        %>
        <%= submit_tag "Search", name: "", class: "karma-button-rose top-0 end-0 position-absolute", style: "width: fit-content; height: 45px" %>
      </div>

      <div class="col-2">
        <%# search-bar pour filtrer sur la date => à transfo en bouton de filtre %>
        <%= text_field_tag :date, params[:date],
                              data: { controller: 'flatpicker-range' },
                              class: 'form-control calendar-icone',
                              style: 'background-color: transparent; border: none; padding: 23px; '
                              %>
      </div>
    </div>

  <% end %>
<% end %>
</div>
</div>
