<div class="container justify-content-center">

<div class="row justify-content-center">

  <%= form_with url: events_path, method: :get, class: "row" do %>
  <%# search-bar pour chercher les string event.name ET game.name%>
      <div class="col-12 row position-relative">
        <%= text_field_tag :query,
              params[:query],
              class: "form-control col-12 search-bar",
              placeholder: "Type an event name"
        %>
         <%= submit_tag "Search", name: "", class: "karma-button-rose top-0 end-0 position-absolute", style: "width: fit-content; height: 45px" %>
      </div>

      <div class="col-12 d-flex align-items-center" data-controller="event-type-search"> <!-- Controller -->
        <div class="col-5">
          <%= link_to "Casual", events_path(event_type: "Casual"), class: "karma-button-violet", data_action: "click->event-type-search#toggleCasualButton", data_event_type_search_target: "casualButtonElement"%> <!--Action -->
        </div>

        <div class="col-5">
          <%= link_to "Tournament", events_path(event_type: "Tournament"), class: "karma-button-violet", data_action: "click->event-type-search#toggleTournamentButton", data_event_type_search_target: "tournamentButtonElement" %> <!-- Action -->
        </div>

        <div class="col-2">
          <%# search-bar pour filtrer sur la date => à transfo en bouton de filtre %>
          <%= text_field_tag :date, params[:date],
                            data: { controller: 'flatpicker-range' },
                            class: 'form-control' %>
        </div>
      </div>

  <% end %>
</div>
