<%= simple_form_for(@event, defaults: { input_html: { style: 'background-color: #32153F; color: white; border-color: #ff69b4' } }) do |f| %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%=@event.game.image_url%>');">
    <h2><%= f.input :game_id, collection: Game.all, :input_html => { :class => 'edit-event-game-name' }, label: false %></h2>
  </div>
  <div class="container">
    <div class="container-event">
      <div class="title" >
        <h1><%= f.input :name, label: false %></h1>
        <p>proposed by <%=@event.user.username%></p>
      </div>
      <div class="">
        <div class="">
          <p><%= f.input :description, label: false%></p>
        </div>
      </div>
      <ul style="padding-left: 0px;">
        <li class="d-flex"><i class="fa-solid fa-trophy pe-2 m-2" style="color: #9e13f9;"></i><%= f.input :event_type, collection: Event::EVENT_TYPE, label: false %></li>
        <li class="d-flex calendar"><i class="fa-solid fa-calendar pe-2 m-2" style="color: #9e13f9;"></i><%= f.input :date, as: :string,  input_html: { data: { controller: "datepicker" }}, label: false %></li>
        <li class="d-flex"><i class="fa-solid fa-map-location-dot pe-2 m-2" style="color: #9e13f9;"></i><%= f.input :address, label: false %></li>
        <li class="d-flex"><i class="fa-solid fa-spinner pe-2 m-2" style="color: #9e13f9;"></i><%= @event.status %></li>
      </ul>
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit "Submit", class: "btn btn-primary", style: "background-color: #f72585; color: white; width: 100%; border: 2px solid #f72585;" %>
          </div>
        </div>
<% end %>
      <div class="participations">
        <% if @event.status == "Open" %>
          <h3>Participants</h3>
            <div class="d-flex align-items-center">
              <% if @event.participations != [] %>
                <% @event.participations.each do |participation| %>
                  <% if participation.user == current_user %>
                    <%= image_tag "https://cdn2.f-cdn.com/contestentries/1107446/20762621/599154bb89160_thumb900.jpg", crop: :fill_pad, class: "avatar", alt: "user participation" %>
                  <% else %>
                    <div class="avatar">
                    <% if participation.user.photo.key %>
                      <%= button_to "", event_participation_path(@event, participation), method: :delete, class: "fa-solid fa-xmark", style: "color: #ff0000;"  %>
                      <%= cl_image_tag participation.user.photo.key, crop: :fill_pad, class: "avatar", alt: "other user" %>
                    <% else %>
                    <%= button_to "", event_participation_path(@event, participation), method: :delete, class: "fa-solid fa-xmark", style: "color: #ff0000;"  %>
                      <%= image_tag "https://cdn-icons-png.flaticon.com/512/1178/1178882.png", crop: :fill_pad, class: "avatar", alt: "other user" %>
                    <% end %>
                      <p style="w-25"><%=participation.user.username%></p>
                    </div>
                  <% end %>
                <% end %>
                    <p class="ps-3"><%= @event.max_players - @event.participations.count %> spots left!</p>
              <% else %>
                <p><%= @event.max_players %> spots left! </p>
              <% end %>
            </div>
        <% end %>
      </div>
      <% if @event.status != "Cancelled" && @event.status != "Fully booked" %>
        <%= link_to "Game details", game_path(@event.game), class: "game-details" %>
        <% if @registered == false %>
          <%= button_to "Register", event_participations_path(@event), method: :post, class: "register-button"  %>
        <% else %>
          <% if current_user != @event.user %>
            <%= button_to "Cancel this event", event_path(@event), method: :delete, class: "register-button"  %>
          <% else %>
            <%= button_to "Cancel my participation", event_participations_path(@event), method: :delete, class: "register-button"  %>
          <% end %>
        <% end %>
      <% elsif @event.status == "Cancelled" %>
        <div class="text-danger">This event has been cancelled due to the cancellation of this event cancelling</div>
      <% elsif @event.status == "Fully booked" %>
        <div class="text-danger">This event is fully booked! Comeback later or register to a new one!</div>
      <% end %>
    </div>
  </div>
