<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%=@event.game.image_url%>');">
    <h3><%= @event.game.name %></h3>
    <% if current_user == @event.user %>
      <%= button_to "", edit_event_path(@event), method: :get, class: "fa-regular fa-pen-to-square edit-event", style: "color: #F72585;" %>
    <% end %>
</div>
<div class="container">
  <div class="container-event">
    <div class="title" >
      <h1><%= @event.name %></h1>
      <p>proposed by <%=@event.user.username%></p>
    </div>
    <div class="event-info">
      <div class="event-description">
        <p style="line-height: 120%;"><%= @event.description %></p>
      </div>
    </div>
    <ul style="padding-left: 0px;">
      <li><i class="fa-solid fa-trophy pe-2 m-2" style="color: #9e13f9;"></i><%= @event.event_type %></li>
      <li><i class="fa-solid fa-calendar pe-2 m-2" style="color: #9e13f9;"></i><%= @event.date.localtime.strftime("%A, %d %B %Y at %I:%M %p") %></li>
      <li><i class="fa-solid fa-map-location-dot pe-2 m-2" style="color: #9e13f9;"></i><%= link_to @event.address, "https://www.google.com/maps/place/#{@event.address.gsub(" ", "+")}", target: "_blank" %></li>
      <li><i class="fa-solid fa-spinner pe-2 m-2" style="color: #9e13f9;"></i><%= @event.status %></li>
    </ul>
    <div class="participations">
      <% if @event.status == "Open" %>
        <h3>Participants</h3>
          <div class="d-flex align-items-center">
            <% if @event.participations != [] %>
              <% @event.participations.each do |participation| %>
                <% if participation.user == current_user %>
                  <%= image_tag "https://cdn2.f-cdn.com/contestentries/1107446/20762621/599154bb89160_thumb900.jpg", crop: :fill_pad, class: "avatar", alt: "user participation" %>
                <% else %>
                  <div class="avatar">
                  <% if participation.user.photo.key %>
                    <%= cl_image_tag participation.user.photo.key, crop: :fill_pad, class: "avatar", alt: "other user" %>
                  <% else %>
                    <%= image_tag "https://cdn-icons-png.flaticon.com/512/1178/1178882.png", crop: :fill_pad, class: "avatar", alt: "other user" %>
                  <% end %>
                    <p style="w-25"><%=participation.user.username%></p>
                  </div>
                <% end %>
              <% end %>
                  <p class="ps-3"><%= @event.max_players - @event.participations.count %> spots left!</p>
            <% else %>
              <p><%= @event.max_players %> spots left! </p>
            <% end %>
          </div>
      <% end %>

  <div class="footer-links" style="display: flex; align-items: center; justify-content: space-evenly;  width: 100%; height: 50px;">
    <a href="https://www.github.com/"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
    <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
  </div>

    <%= link_to "Game details", game_path(@event.game), class: "game-details" %>
    <% if @event.status != "Cancelled" && @event.status != "Fully booked" %>
      <% if @registered == false && current_user != @event.user %>
        <%= button_to "Register", event_participations_path(@event), method: :post, class: "register-button"  %>
      <% elsif current_user != @event.user %>
          <%= button_to "Cancel my participation", event_participations_path(@event), method: :delete, class: "register-button"  %>
      <% end %>
    <% elsif @event.status == "Cancelled" %>
        <div class="text-danger">This event has been cancelled due to the cancellation of this event cancelling</div>
    <% elsif @event.status == "Fully booked" && current_user != @event.user %>
        <div class="text-danger">This event is fully booked! Comeback later or register to a new one!</div>
    <% end %>
  </div>
</div>
