<%# bouton pour aller vers le form_user.html.erb à faire quand on est sur le dashboard%>
<%# bouton stylo avec grosse photo du user %>
<%#
<% if current_user.photo.attached? %>
  <%# <%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill %>
<%# <% else %>
  <%# <%= image_tag("https://cdn-icons-png.flaticon.com/512/1178/1178882.png") %>
<%# <% end %>

<%# <%= render 'form_user' %>
<% unless current_user.events || current_user.events_participations %> <!-- A moins que l'un des deux ne soit vrai -->
  <p> No upcoming events, register to one or create a new event !</p>
<% else %>
  <% unless current_user.events_participations %>
   <p> You're not registered to any events! </p>
  <% else %>
    <p> Upcoming events </p>
    <div class="karma-container">
    <%= render "shared/cards-events", events: current_user.events_participations %>
    </div>
  <% end %>
  <% unless current_user.events %>
    <p> Create a new event </p>
  <% else %>
    <%= render "shared/cards-events", events: current_user.events %>
  <% end %>
<% end %> <!-- Cas l'utilisateur n'a pas crée d'évènements-->
  <!-- Cas l'utilisateur ne participe à aucun événements -->
<div class="karma-container">
 <%= render "shared/cards-games", games: current_user.games %>
</div>
</div>
