<%# bouton pour aller vers le form_user.html.erb à faire quand on est sur le dashboard%>
<%# bouton stylo avec grosse photo du user %>
<%#
<% if current_user.photo.attached? %>
  <%# <%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill %>
<%# <% else %>
  <%# <%= image_tag("https://cdn-icons-png.flaticon.com/512/1178/1178882.png") %>
<%# <% end %>

<%# <%= render 'form_user' %>

<div class="d-flex">
  <div class="row">
  <div class="col-6">
    <h2>my events</h2>
    <% current_user.events_participations.each do |event| %>
      <%= event.name %>
    <% end %>
  </div>
  <div class="col-6">
    <h2>my games</h2>
    <% current_user.games.each do |game| %>
      <%= game.name %>
    <% end %>
  </div>
  </div>
</div>
